<%- include('setting/_setting', {}); %>
<!DOCTYPE html>
<html lang="ja">
<%- include('component/_header', {display:'default', type: 'default', version: 'default'}); %>
<body>
<div class="container">
<%- include('component/_menu_wrap', {display:'default', type: 'default', version: 'default'}); %>
<div class="content-wrap">

<section class="c-Contents content">
<div class="c-Contents__inner">
<div class="c-Contents__header u-FlexBox u-FlexBox--middle">
  <button class="btn-offcanvas" type="button" id="open-button">
    <i aria-hidden="true" class="fa fa-lg fa-bars"></i>
  </button>
  <h1 class="c-Contents__headerTitle u-FlexBox__item--fill">
    〇〇ランキング
  </h1>
  <a class="btn-setting" href="javascript:;">
    <i aria-hidden="true" class="fa fa-lg fa-user-circle-o"></i>
  </a>
</div><!-- /c-Contents__header -->

<div class="c-Contents__body">
<%- include('component/_tab', {type: 'ranking', rout: 'default'}); %>
<%- include('module/_ranking_user', {type: 'default', count: 10}); %>
</div><!-- /c-Contents__body -->

</div><!-- /c-Contents__inner -->
</section><!-- /c-Contents @OffCanvasMenuEffects .content -->

</div><!-- /content-wrap @OffCanvasMenuEffects -->
</div><!-- /container @OffCanvasMenuEffects -->

<%- include('component/_footer_navigation', {display:'default', type: 'default', service: 'default'}); %>
<%- include('component/_footer', {display:'default', type: 'default', service: 'default'}); %>
</body>
</html>
