<% if (typeof display === 'undefined') { var display = 'default'; } -%>
<% if (typeof count === 'undefined') { var count = 3; } -%>
<% if (typeof title === 'undefined') { var title = 'タイトル'; } -%>
<% if (typeof type === 'undefined') { var type = 'default'; } -%>
<% if (typeof rout === 'undefined') { var rout = 'default' } -%>
<%
var items = {
  "dummy":[
  {"title":"【単語単語 / よみ読み】","description":"説明文章、説明文章、説明文章、説明文章、説明文章、説明文章、説明文章","link":"javascript:;","thumbnail":"https://picsum.photos/600/336/?random"},
]};
var n = items.dummy.length;
while(n < count){
  items.dummy.push({"title":"【単語単語 / よみ読み】","description":"説明文章、説明文章、説明文章、説明文章、説明文章、説明文章、説明文章","link":"javascript:;","thumbnail":"https://picsum.photos/seed/picsum/600/336"});
  n++;
}
-%>
<section class="sph-Result sph-Result--word">
<div class="sph-Result__inner">
  <% if(type === 'dictionary') { -%>
  <div class="sph-Result__header sph-Result__header--border">
    <h2 class="sph-Result__headerTitle"><%- title %></h2>
    <% if(rout === 'other') { -%>
    <button class="sph-Result_headerFavorite" type="button">
      <i aria-hidden="true" class="fa fa-lg fa-heart"></i>
      <span>9999</span>
    </button>
    <% } -%>
  </div><!-- /sph-Result__header -->
  <% } else { -%>
  <div class="sph-Result__header">
    <h2 class="sph-Result__headerTitle"><%- title %></h2>
  </div><!-- /sph-Result__header -->
  <% } -%>

  <div class="sph-Result__body">
    <div class="sph-Result__items">
      <% items["dummy"].forEach(function(data){ -%>
      <section class="sph-Result__item">
        <a href="<%= data.link %>" class="sph-Result__itemInner u-FlexBox">
          <div class="sph-Result__itemDetail u-FlexBox__item--fill">
            <h3 class="sph-Result__itemTitle"><span class="u-TextEllipsis2line"><%= data.title %></span></h3>
            <% if(rout === 'create') { -%>
            <p class="sph-Result__itemDescription"><span class="u-TextEllipsis2line">未定義</span></p>
            <% } else { -%>
            <p class="sph-Result__itemDescription"><span class="u-TextEllipsis2line"><%= data.description %></span></p>
            <% } -%>
          </div><!-- /sph-Result__itemDetail -->
        </a><!-- /sph-Result__itemInner -->
      </section><!-- /sph-Result__item -->
      <% }); -%>
    </div><!-- /sph-Result__items -->
  </div><!-- /sph-Result__body -->

  <% if(type === 'default') { -%>
  <div class="sph-Result__footer u-FlexBox u-FlexBox--middle u-FlexBox--right">
    <a class="sph-Result__link" href="javascript:;">もっとみる</a>
  </div><!-- /sph-Result__footer -->
  <% } -%>
</div><!-- /sph-Result__inner -->
</section><!-- /sph-Result -->